

#clockContainer{
    position: relative;
    background: url(clock.png) no-repeat;
    background-size: 100%;
    width: 40vw;
    height: 40vw;
    
    margin: auto;
    /* background: red; */
}
body{
    background: url(akatsuki.jpg) no-repeat;
    background-size: 100%;
}


#hour, #minute, #second {
    background-color: black;
    position: absolute;
    transform-origin: bottom;
}
#hour {
    width: 1.6%;
    height: 18%;
    top: 15.1%;
    left: 49.4%;
   
    /* display: none; */
}

#minute {
    width: 1%;
    height: 23%;
    top: 9.6%;
    left: 49.3%;
    /* display: none; */
}
#second {
    width: 0.7%;
    height: 16%;
    top: 16.54%;
    left: 49.6%;
    /* display: none; */
}
#dot{
    position: absolute;
    background-size: 1px;
    top: 30.1%;
    left: 48.2%;
}



/* #hour {
    width: 2%;
    height: 18%;
    top: 15%;
    left: 49%;
   
    display: none;
}

#minute {
    width: 2%;
    height: 23%;
    top: 10%;
    left: 49%;
    display: none;
}
#second {
    width: 0.7%;
    height: 16%;
    top: 17%;
    left: 49%;
    /* display: none; */
